{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
    <main role="main" class="container">
        {% include "includes/menu.html" with index=True %}
        <div class="col-md-8">
            {% load cache %}
            {% cache 20 index page %}
                {% for post in page %}
                    {% include 'includes/post_card.html' with post=post%}
                {% endfor %}
            {% endcache index page %}
                {% if page.has_other_pages %}
                    {% include 'includes/paginator.html' with items=page paginator=paginator%}
                {% endif %}
        </div>
    </main>
{% endblock %}