{% extends "base.html" %}
{% block title %}Запись автора {{ author.username }}{% endblock %}
{% block header %}{{ group.title }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        {% include 'includes/author_card.html' with author=author %}
        <div class="col-md-9">
            {% include 'includes/post_card.html' with post=post %}
            {% include 'includes/comment.html' with comments=comments%}
        </div>
    </div>
</main>
{% endblock %}
